/* General 
==================== */
body {
    font-family: arial;
    margin: 0;
}
.container {
    padding: 0 40px;
}

/* Header 
==================== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; left: 0;
    width: calc(100% - 80px);
    height: 75px;
    background-color: lightyellow;
    box-shadow: 0px -2px 8px -1px black;
}
nav a {
    display: inline-block;
    margin-left: 1.5em;
    padding: .5em 1em;
    text-decoration: none;
    border: 2px outset #ccc;
    color: mediumblue;
    background-color: ghostwhite;
    background-image: linear-gradient(aliceblue, lemonchiffon);
}
h1 {
    margin: 0;
}

/* Main 
==================== */
main {
    background-color: aliceblue;
    background-image: linear-gradient(aliceblue, lemonchiffon);
    height: calc(100vh - 200px);
    padding: 100px 0;
}

/* Notes 
==================== */
.notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.notes article {
    box-shadow: 0 0 12px -1px #eee;
    border: 1px dotted black;
    padding: 20px;
}
.notes article .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.notes article p {
    margin: 0;
    word-break: break-word;
}

/* Sidebar 
==================== */
.sidebar {
    background: slategrey;
    box-shadow: 0 1px 6px 0 black;
    width: 80%;
    height: 400px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transition: all 200ms ease-out;
}
.sidebar.show {
    opacity: 1;
    pointer-events: initial;
}
.sidebar form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.sidebar .close-btn {
    position: absolute;
    top: 20px; right: 40px;
    cursor: pointer;
}
.sidebar label {
    margin-bottom: 10px;
}
.sidebar input,
.sidebar textarea {
    margin-bottom: 20px;
    padding: 5px;
    background: aliceblue;
}
.sidebar textarea {
    height: 100px
}
.sidebar input[type=submit] {
    width: 250px;
    margin: 0 auto;
    padding: 15px 0;
    border-radius: 20px;
    font-weight: bold;
    background-color: aliceblue;
    cursor: pointer;
}

/* Portal
==================== */
.modal, .overlay {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: all 200ms ease-out;
    position: absolute;
}
.modal.show,
.overlay.show {
    visibility: visible;
    pointer-events: initial;
    opacity: 1;
}
.modal {
    width: 50vw;
    background-color: white;
    border: 10px solid rgba(255,255,255,0.5);
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.modal div:not(.close) {
    padding: 20px;
}
.modal .close {
    position: absolute;
    top: 0;
    left: -25px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.modal label {
    display: block;
}
.modal input {
    height: 40px;
    padding: 5px 10px;
    width: calc(100% - 20px);
}
.modal div:last-child {
    text-align: center;
}